@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic:wght@400;700;800&family=Roboto:wght@400;700&display=swap");

// font-family: 'Gowun Batang', serif;
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Roboto', sans-serif;
:root {
  --gray-explain: gray;
  --size-explain: 14px;
  --orange-btn: #ff7f00;
}

.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbe9db;
  overflow-x: hidden;
  #app {
    position: relative;
    min-height: 100%;
    width: 80vw;
    margin: 0 auto;
    background-color: #fffcf7;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
}

.section-title {
  padding: 50px 0;
  .title {
    margin: 0;
    img {
      width: 150px;
    }
  }
}

main {
  margin: 0 auto;
  width: 50%;
  padding-bottom: 80px;
}
.wrap-participants {
  position: relative;
}
.section-participants {
  padding-bottom: 30px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px dashed var(--gray-explain);
    left: 50%;
    height: 1px;
    width: 100%;
    transform: translate(-50%);
  }
  &::before {
    top: -20px;
  }

  p {
    color: var(--gray-explain);
    font-size: var(--size-explain);
  }
  .lists-participants {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
    flex-wrap: wrap;
    li {
      input {
        width: 80px;
        text-align: center;
      }
    }
  }
  button {
    border: none;
    padding: 5px 8px;
    margin: 0 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
  #button-add {
    background-color: lightseagreen;
  }
  #button-delete {
    background-color: lightcoral;
  }
  #button-shuffle {
    background-color: var(--orange-btn);
  }
  #participants-order {
    margin: 20px;
    background-color: white;
    border: 1px solid var(--gray-explain);
    border-radius: 10px;
    padding: 10px;
    color: black;
  }
}

.section-roulette {
  margin-bottom: 50px;
  position: sticky;
  top: 20px;
  #button-choosequestion {
    appearance: button;
    background-color: #ff0000;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 50%;

    &:after {
      background-clip: padding-box;
      background-color: var(--orange-btn);
      border: solid transparent;
      border-radius: 16px;
      border-width: 0 0 4px;
      bottom: -4px;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    &:main,
    &:focus {
      user-select: auto;
    }

    &:hover:not(:disabled) {
      filter: brightness(1.1);
      -webkit-filter: brightness(1.1);
    }

    &:disabled {
      cursor: auto;
    }
  }
}
.section-inputquestion {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  label {
    line-height: 200%;
    font-size: 16px;
    min-width: 40px;
  }
  #input-question {
    resize: none;
    flex: 1;
    height: 23px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: initial;
  }
  #button-addquestion {
    min-width: 40px;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    line-height: 23px;
    outline: none;
    padding: 0 0.75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
      transform: translate3d(0, 2px, 0);
    }

    &:focus {
      box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
    }
  }
}

.section-showquestion {
  #showquestion-list {
    text-align: left;
    margin: 10px auto;
    width: 80%;
  }
  ul > li {
    max-width: 90%;
    word-break: break-all;
  }
}

.list-chosen {
  background-color: lightgray;
}

.except-choose {
  text-decoration: line-through;
}

.section-howtouse {
  margin: 20px 0;
  p {
    text-align: left;
    font-size: var(--size-explain);
    color: var(--gray-explain);
    padding-bottom: 5px;
  }
}

footer {
  height: 80px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
  display: grid;
  place-items: center;
  .github-logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(./assets/github-logo.png);
    background-size: cover;
  }
  .copyright {
    font-size: 10px;
    color: gray;
  }
}

.section-figure {
  img {
    width: 10vh;
    position: absolute;
  }
  .img-1-circle {
    top: 10%;
    left: -15%;
  }
  .img-2-fangreen {
    top: 20%;
    right: -15%;
  }
  .img-3-ribbon {
    top: 80%;
    right: -10%;
    transform: rotate(-10deg);
  }
  .img-4-vase {
    top: 70%;
    left: -12%;
  }
  .img-5-starcandy {
    top: 65%;
    left: -8%;
  }
  .img-6-fanskyblue {
    top: 90%;
    right: -15%;
  }
}

@media (max-width: 800px) {
  main {
    width: 90%;
  }
  .section-figure {
    img {
      width: 8vh;
      position: absolute;
    }
  }
}

@media (max-width: 440px) {
  #button-addquestion {
    width: 100%;
  }
}
